html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
/* Navigation */
header {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: hsla(0, 0%, 98%, 1);
}
nav {
  max-width: 992px;
  margin: auto;
  padding: 1.5rem;
}
#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
#navigation .wordmark a {
  color: hsla(0, 0%, 32%, 1);
  font-family: 'Fraunces', serif;
  font-size: 1.75rem;
  line-height: 2rem;
  font-variation-settings: 'opsz' 9, 'wght' 600, 'SOFT' 100, 'WONK' 1;
  text-decoration: none;
}
#navigation .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 2rem;
}
.menu a {
  color: hsla(0, 0%, 64%, 1);
  font-family: 'Karla', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  text-decoration: none;
}
.menu a:hover {
  color: hsla(0, 0%, 32%, 1);
}
#menu-tgl, .menu-icn {
  display: none;
  line-height: 2rem;
}
@media screen and (max-width: 576px) {
  #navigation {
    flex-direction: column;
    gap: 1.5rem;
  }
  #navigation .menu {
    display: none;
    flex-direction: column;
  }
  .menu-icn {
    display: block;
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
  }
  #menu-tgl:checked ~ .menu {
    display: flex;
  }
}
