@import url('https://rsms.me/inter/inter.css');
  html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Variables */
:root {
  /* Font Family */
  --primary-sans: 'Inter', sans-serif;
  /* Font Sizes */
  --fs-body: 1rem;
  --fs-overline: 1.25rem;
  --fs-title: 1.5rem;
  /* Colors */
  --clr-neutral-900: hsla(240, 16%, 20%, 1);
  --clr-neutral-700: hsla(240, 8%, 64%, 1);
  --clr-neutral-300: hsla(240, 4%, 90%, 1);
  --clr-neutral-100: hsla(240, 4%, 96%, 1);
  --clr-accent-400: hsla(36, 100%, 52%, 1);
}
.site {
  height: 100vh;
  background-color: var(--clr-neutral-100);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
/* Reel Section */
.reel {
  height: 100vh;
  padding: 3.5rem 0;
  scroll-snap-align: start;
}
.reel > .title {
  max-width: 1024px;
  margin: auto;
  padding: 1rem;
  display: block;
  font-family: var(--primary-sans);
  font-size: var(--fs-overline);
  font-weight: 600;
  line-height: 1.2em;
  color: var(--clr-neutral-900);
}
/* Card Carousel */
.card-carousel {
  height: calc(100vh - 10.5rem);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 0.5rem;
}
.card-carousel > .bg-card.bg-card:not(:last-of-type),
.card-carousel > .ps-card.ps-card:not(:last-of-type) {
  margin-right: 0.5rem;
}
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) and (display:flow-root) {
    .card-carousel::after {
      content: '';
      flex: 0 0 0.5rem;
    }
  }
}
@media screen and (min-width: 1024px) {
  .card-carousel {
    width: calc(((100vw - 1024px) / 2) + 1024px);
    margin-left: calc( (100vw - 1024px) / 2 );
  }
}
/* Card Carousel Scrollbar */
.card-carousel::-webkit-scrollbar {
  height: 0.25rem;
}
.card-carousel::-webkit-scrollbar-track {
  background-color: var(--clr-neutral-300);
}
.card-carousel::-webkit-scrollbar-thumb {
  background-color: var(--clr-neutral-700);
}
.card-carousel::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-neutral-900);
}
/* Background Card */
.bg-card {
  min-width: calc(100vw - 4rem);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  scroll-snap-align: start;
}
@media screen and (min-width: 768px) {
  .bg-card {
    min-width: calc((100vw - 4.5rem) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .bg-card {
    min-width: calc((1024px - 4.5rem) / 2);
  }
}
.bg-card > .content {
  padding: 1rem;
  background-image: linear-gradient(to top, hsla(0, 0%, 0%, 0.4), hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}
.bg-card > .content > .overline {
  font-family: var(--primary-sans);
  font-size: var(--fs-overline);
  font-weight: 300;
  line-height: 1.2em;
  color: var(--clr-neutral-100);
}
.bg-card > .content > .title {
  font-family: var(--primary-sans);
  font-size: var(--fs-title);
  font-weight: 600;
  line-height: 1.5em;
  color: var(--clr-neutral-100);
}
.bg-card > .content > .button {
  padding: 0.5rem;
  border-radius: 100vw;
  background-color: var(--clr-neutral-100);
  display: block;
  align-self: flex-end;
  transition: 200ms ease-in-out;
}
.bg-card > .content > .button:hover,
.bg-card > .content > .button:focus {
  background-color: var(--clr-neutral-700);
}
.bg-card > .content > .button svg {
  display: block;
  stroke: var(--clr-neutral-900);
  stroke-width: 1.5px;
}
